# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\springBoot\20220426\playingCard\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
