<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gx.springboot_test.mapper.DepartmentMapper">
        <!--部门mapper部分-->
        <resultMap id="BaseResultMap" type="com.gx.springboot_test.po.Department">
                <id column="department_id" jdbcType="INTEGER" property="departmentId"/>
                <result column="department_name" jdbcType="VARCHAR" property="departmentName"/>
                <result column="department_remark" jdbcType="VARCHAR" property="departmentRemark"/>
                <result column="parent_id" jdbcType="INTEGER" property="parentId"/>
        </resultMap>
        <select id="selectAllDepartment" resultMap="BaseResultMap">
                SELECT * FROM department
        </select>
</mapper>
